@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

.messages-page {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.list-message {
    width: 25vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid pink;

    padding: 0 1.5rem;
}

.brand-name {
    text-align: start;
    font-family: 'Freehand', sans-serif;
    font-size: 2rem;

    margin: 1rem;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.search-icon {
    position: absolute;
    left: 2.5rem;
    color: #564347;
    font-size: 1.3rem;
    pointer-events: none;
}

.search-bar {
    width: 100%;
    background-color: #f1f1f1;
    padding: 0.5rem 3rem;
    color: black;
    transition: all 0.3s ease;

    border-radius: 2rem;
    border: none;
    outline: none;
}

.search-bar:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-field {
    width: 75vw;
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: pink;

    margin-top: 1rem;
}

.messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.receive-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 1rem 0;
}

.message-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    margin-right: 0.5rem;
}

.my-message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.check-icon {
    font-size: small;
}

.status {
    font-size: 0.7rem;
    font-weight: 300;

    margin-right: 1rem;
}

.input-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
}

.message-icons {
    font-size: 1.5rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

.input-message {
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background: #f1f1f1;
    color: black;
    transition: all 0.3s ease-in-out;

    padding: 0 1rem;
}

.input-message:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sent-icon {
    font-size: 1.5rem;
    position: relative;
    right: 2.5rem;
    cursor: pointer;
}