@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

.messages-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
}

.list-message {
    width: 25vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid pink;
    position: relative;
    overflow: visible;

    padding: 0 1.5rem;
}

.logo-and-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    text-align: start;
    font-family: 'Freehand', sans-serif;
    font-size: 2rem;
    color: darkred;

    margin: 1rem;
}

.menu-wrapper {
    position: relative;
}

.dropdown-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 100vw;
    width: 22vw;
    height: 100vh;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 999;

    padding-top: 1.5rem;
}
.dropdown-menu.show {
    border-radius: 0;
    border: none;
    transform: translateX(21.7vw);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    background: none;
    border: none;
    border-radius: 0%;
    outline: none;
    padding: 0.6rem 1.5rem;
    text-align: left;
    color: rgb(94, 92, 92);
    width: 100%;
    font-size: 0.9rem;
    font-weight: normal;
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
}

.menu-item:hover {
    background-color: #f2f2f2;
}

.menu-item:focus {
    outline: none;
}

.menu-icons {
    font-size: 1.2rem;
    margin: 0 0.5rem 0 2rem;
    align-self: center;
    color: darkred;
}

.logout {
    color: #d33;
    font-weight: 500;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.menu-icon, .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: darkred;
}

.close-icon {
    background: #f2f2f2;
    color: darkred;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateX(0.6rem);
    
    padding: 0.4rem;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.search-icon {
    position: absolute;
    left: 2.5rem;
    color: #564347;
    font-size: 1.3rem;
    pointer-events: none;
}

.search-bar {
    width: 100%;
    height: 1.6rem;
    background-color: #f1f1f1;
    padding: 0.5rem 3rem;
    color: black;
    font-size: medium;
    transition: all 0.3s ease;

    border-radius: 2rem;
    border: none;
    outline: none;
}

.search-bar::placeholder {
    opacity: 0.6;
}

.search-bar:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-field {
    width: 75vw;
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.name-and-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: pink;

    margin-top: 1rem;
}

.messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.receive-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 1rem 0;
}

.message-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    margin-right: 0.5rem;
}

.my-message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.status-wrapper {
    display: flex;
    align-items: center;

    margin-top: 0.2rem;
}

.check-icon {
    font-size: small;
    color: black;
}

.status {
    font-size: 0.7rem;
    font-weight: 300;
    color: black;

    margin-right: 1rem;
}

.input-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
}

.message-icons {
    font-size: 1.5rem;
    margin-right: 0.3rem;
    color: black;
    cursor: pointer;
}

.input-message {
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background: #f1f1f1;
    color: black;
    font-size: medium;
    transition: all 0.3s ease-in-out;

    padding: 0 1rem;
}

.input-message::placeholder {
    opacity: 0.6;
}

.input-message:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sent-icon {
    font-size: 1.5rem;
    position: relative;
    color: black;
    right: 2.5rem;
    cursor: pointer;
}