/* Bubble tin nhắn trong khu messages-thread */
.message-bubble {
    display: inline-block;
    max-width: fit-content;
    padding: 8px 12px;
    font-size: 0.9rem;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    text-align: left;
}

/* Tin nhắn gửi */
.message-bubble.send {
    background: #2563eb;
    color: #ffffff;
    border-radius: 20px 5px 5px 20px;
    align-self: flex-end;
}

/* Tin nhắn nhận */
.message-bubble.receive {
    background: #e5e7eb;
    border-radius: 5px 20px 20px 5px;
    color: #111827;
}

.message-bubble.receive.first {
    border-radius: 20px 20px 20px 5px;
}
.message-bubble.receive.last {
    border-radius: 5px 20px 20px 20px;
}

.message-bubble.send.first {
    border-radius: 20px 20px 5px 20px;
}
.message-bubble.send.last {
    border-radius: 20px 5px 20px 20px;
}

.message-bubble.none {
    border-radius: 20px;
}

.status {
    font-size: 0.8rem;
    color: #9ca3af;
    margin-top: 0px;
    text-align: right;
}